.button {
  @apply cursor-pointer py-3 px-5 rounded-lg flex items-center justify-center text-center uppercase font-medium;

  &.solid {
    @apply bg-prime text-white border-[3px] border-solid border-primary;

    &:hover {
      @apply text-grey-900/80 bg-secondary;
    }

    // &:active,
    // &:focus {
    //   @apply text-grey-900/100 bg-primary;
    // }
  }

  &.outlined {
    @apply border-[3px] border-grey-900 bg-transparent;

    &:hover {
      @apply bg-primePurple-100;
    }

    // &:active,
    // &:focus {
    //   @apply text-grey-900/100 bg-prime;
    // }
  }

  &:hover {
    @apply text-grey-900/80;
  }

  // &:active,
  // &:focus {
  //   @apply text-grey-900/100;
  // }

  &.disabled {
    @apply text-gray-400 pointer-events-none border-none cursor-not-allowed;
    background: rgba(255, 255, 255, 0.3);
  }

  &.loading {
    @apply flex items-center pointer-events-none cursor-not-allowed;
  }
}
