.menu {
  &:global {
    &.ant-menu.ant-menu-dark {
      @apply bg-primary;
    }

    // remove blue background
    &.ant-menu.ant-menu-dark .ant-menu-item-selected,
    &.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
    &.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
      background: transparent;
      a {
        @apply text-grey-900;
      }
    }

    &.ant-menu-dark .ant-menu-item-selected::after {
      @apply border-b-grey-900 border-[3px] border-transparent bottom-3;
    }

    &.ant-menu-dark.ant-menu-horizontal > .ant-menu-item::after,
    &.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu::after {
      @apply bottom-3;
    }

    &.ant-menu .ant-menu-item {
      display: flex;
      align-items: center;
    }

    // link color
    &.ant-menu .ant-menu-item,
    &.ant-menu .ant-menu-item-group-title,
    &.ant-menu .ant-menu-item > a,
    &.ant-menu .ant-menu-item > span > a {
      @apply text-grey-900/50;
    }
  }
}
