.menu {
  &:global {
    &.ant-menu.ant-menu-dark {
      @apply bg-secondary rounded-[11px];

      .ant-menu-item:not(:last-child) {
        @apply flex-grow flex justify-center items-center h-16 opacity-100;

        svg,
        path {
          @apply fill-primary;
        }
      }
    }

    // remove blue background
    &.ant-menu.ant-menu-dark .ant-menu-item-selected,
    &.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
    &.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
      background: transparent;
      svg,
      path {
        @apply fill-primePurple-900;
      }
      a {
        @apply text-grey-900;
      }
    }
  }
}

.drawer {
  :global {
    .ant-drawer-content-wrapper {
      @apply border-4 border-grey-900 rounded-tl-[11px] rounded-bl-[11px] overflow-hidden border-r-0;
    }
  }
}

.tabs {
  :global {
    .ant-tabs-nav {
      @apply mb-6;
      .ant-tabs-nav-wrap,
      .ant-tabs-nav-list {
        @apply w-full;

        .ant-tabs-tab {
          @apply flex-grow justify-center font-bold;
        }
      }
    }
  }
}
