.menu {
  &:global {
    &.ant-menu.ant-menu-dark {
      @apply bg-secondary rounded-[11px];

      .ant-menu-item {
        @apply flex-grow flex justify-center items-center h-16 opacity-100 px-0 pl-0;
        padding-left: 0 !important;
      }
    }

    // remove blue background
    &.ant-menu.ant-menu-dark .ant-menu-item-selected,
    &.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
    &.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
      background-color: transparent !important;
      .title {
        @apply text-primePurple-900;
      }
      a {
        @apply text-grey-900;
      }
    }
  }
}
