@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700;800&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/typography.scss';

body {
  margin: 0;
  font-family: 'Urbanist', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-base;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
