.popover {
  &:global {
    > .ant-popover-content {
      @apply w-[392px];

      .ant-popover-arrow {
        display: none;
      }

      .ant-popover-inner {
        @apply border-4 border-grey-900 shadow-figma;
        .ant-popover-inner-content {
          @apply p-6;
        }
      }

      // style number input
      .ant-input-number-input-wrap {
        @apply h-full;
        .ant-input-number-input {
          @apply font-semibold text-base text-grey-900 h-full;
        }
      }

      ::placeholder {
        @apply text-grey-500;
      }
      /* Edge */
      ::-webkit-input-placeholder {
        @apply text-grey-500;
      }
      /* Internet Explorer */
      :-ms-input-placeholder {
        @apply text-grey-500;
      }
    }
  }
}
