.slide {
  :global {
    .ant-slider {
      &:hover {
        .ant-slider-handle:not(.ant-tooltip-open) {
          @apply border-primary;
        }
        .ant-slider-track {
          @apply bg-prime;
        }
      }

      .ant-slider-track {
        @apply bg-prime;
      }
      .ant-slider-handle {
        @apply w-8 h-8 border-[3px] border-primary -mt-[14px] relative;
        &:before {
          content: '%';
          position: absolute;
          top: 0;
          left: 0;
          color: #2d2d2d;
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;
          width: 100%;
          margin-top: 2px;
          text-align: center;
        }
      }
    }
  }
}
